{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 style="text-align: center;
                   color: white !important; 
                   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important;">Contact Us</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="text-align: center;
                            font-size: 20px;">
            <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Nairobi</span> Kenya</p>
            </div>
            
            <div>
            <i class="fa fa-phone"></i>
            <p>+254 748 374 997</p>
            </div>
            <br>

            <div>
            <i class="fa fa-phone"></i>
            <p>+254 753 299 333</p>
            </div>
            <br>

            <div>
                <a href="https://twitter.com/kenya_motors" target="_blank"><i class="fa fa-twitter"></i></a>
                <p>Twitter</p>
            </div>
            <br>

            <div>
                <a href="https://www.instagram.com/kingsmotorskenya/" target="_blank"><i class="fa fa-instagram"></i></a>
                <p>Instagram</p>
            </div>
            <br>

            <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:kingsmotorskenya@gmail.com" target="_blank">kingsmotorskenya@gmail.com</a></p>
            </div>
            <br>


            
            
    </div>
</div>
{% endblock content %}