{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
        </div>
        <div class="col-lg-8">
            <div class="box-element product">
                <h4><strong>{{product.name}}</strong></h4>
                <hr>
                <h5 style="display: inline-block;"><strong>Model {{product.model}}</strong></h5>
                <h4 style="float: right">{{product.transmission}}</h4>
                <h4>KSh. {{product.price | floatformat:2 | intcomma }} only</h4>
            </div>
            <div class="box-element product">
                <h6>{{product.fuel_type}}</h6>
                <h6>{{product.engine_capacity}} {{product.engine_capacity_unit}}s</h6>
                <p>{{product.details}}</p>
                
                <button data-product="{{product.id}}" 
                        data-action="add" 
                        class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

            </div>
        </div>
    {% endfor %}

</div>
{% endblock content %}