{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col">
        <form method="GET" 
            id='form1' 
            class="form-inline mr-sm-2 space" 
            type="search" 
            name="searched" 
            style="font-weight: bold;
                    font-size: larger;
	                background-color: #fff;
	                border-radius: 4px;
                    padding: 10px;
                    ">
            {{ myFilter.form | crispy }}
            {% csrf_token %}

            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-xs col-centered">
            <button type="button" id="formButton" class="btn btn-secondary btn-lg btn-block">View / Hide Detailed Search</button>
        </div>
</div> 

<div class="row">
    {% for product in products %}
    
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
        </div>
        <div class="col-lg-8">
            <div class="box-element product">
                <h4><strong>{{product.name}}</strong></h4>
                <hr>
                <h5 style="display: inline-block;"><strong>Model {{product.model}}</strong></h5>
                <h4 style="float: right">{{product.transmission}}</h4>
                <h4>KSh. {{product.price | floatformat:2 | intcomma }} only</h4>
            </div>
            <div class="box-element product">
                <h6>{{product.fuel_type}}</h6>
                <h6>{{product.engine_capacity}} {{product.engine_capacity_unit}}s</h6>
                <p>{{product.details | linebreaks }}</p>
                   
                <a class="btn btn-outline-success" href="product/{{product}}">View</a>
                
                <button data-product="{{product.id}}" 
                        data-action="add" 
                        class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

            </div>
        </div>
    {% endfor %}

</div>
{% endblock content %}