{% load static %}

 <footer class="footer-distributed">
 
    <div class="footer-left">
    
        <h3>Kings Motors <span>Kenya</span></h3>
        
        <p class="footer-links">
        <a href="{% url 'store' %}">Home</a>
        <!--
        ·
        <a href="#">Blog</a> -->
        ·
        <a href="{% url 'details' %}">Inventory</a>
        <!--·
        <a href="#">About</a>
        ·
        <a href="{% url 'details' %}">Faq</a> -->
        · 
        <a href="{% url 'contact' %}">Contact</a>
        </p>
        
        <p class="footer-company-name">Kings Motors Kenya &copy; 2021</p>
        </div>
        
        <div class="footer-center">
        
        <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Nairobi</span> Kenya</p>
        </div>
        
        <div>
        <i class="fa fa-phone"></i>
        <p>+254 748 374 997</p>
        </div>
        <div>
        <i class="fa fa-phone"></i>
        <p>+254 753 299 333</p>
        </div>
        
        <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:kingsmotorskenya@gmail.com" target="_blank">kingsmotorskenya@gmail.com</a></p>
        </div>
        
        </div>
        
        <div class="footer-right">
        
        <p class="footer-company-about">
        <span>About the company</span>
        Kings motors Kenya is an automotive car dealership.we deal in sale of  new and used cars,sale of car accessories and car rental arrangements.
        Using our vast knowledge of the industry we strive to give our customers the value of their money and enjoy their new ride.
        </p>
        
        <div class="footer-icons">
        
        
        <a href="https://twitter.com/kenya_motors" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/kingsmotorskenya/" target="_blank"><i class="fa fa-instagram"></i></a>
        
        
        </div>
    
    </div>
 
 </footer>