{% extends 'store/main.html' %}
{% load static %}
{% block content %}

{% include 'store/home.html' %}

    
    <div class="scroll-left">
    <p>Website still under Development... Every Account you create will be deleted Pre production </p>
    </div>
    
     <div class="row">
         {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>

                    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    
                    <a class="btn btn-outline-success" href="{% url 'details' %}">View</a>
                    <h6 style="font-size: 18px; display: inline-block; float: right"><strong>KSh.{{product.price}}</strong></h6>

                </div>
            </div>
            {% endfor %}
        </div>
        
     </div>
{% endblock content %}

